* {
    margin: 0;
    padding: 0;
}
  
body, html {
        margin: 0;
        padding: 0;
        overflow:hidden;
        height: 100vh;
        display: flex;
        justify-content: center;
        text-align: center;
}

#container {
    width: 400px;
    height: 450px;
    background-color: #BFBBA9;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 3%;
    overflow: hidden;
    box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.3);

}

#Dcontainer {
    width: 100vw;
    height: 70%;
    background-color: #EAE2C6;
    margin-top: auto ;
    justify-content: center;
    text-align: center;

}

#circule{
    position: fixed;
    background-color: #BFBBA9;
    padding: 10px;
    background-image:url('images/hassboulah.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 27%;
    width: 7%;
    height: 15%;
    border-radius: 50%;
    border: 2px solid #ffffff;
    box-sizing: border-box;
}


#social{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#feedback{
    width: 100px;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    line-height: 25px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
#project{
    width: 100px;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    line-height: 25px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#h11{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #000;
    margin-top: 15%;
}

h2{
    font-family: 'Roboto', sans-serif;
    color: #000;
    margin-top: 10px;
}

.buttons{
    height: 10%;
    width: 80%;
    display:flex;
    justify-content: center;
    gap:50px;
    margin-left:10%;
    margin-top: 10%;
}