body{
    margin:0;
    box-sizing: border-box;
    overflow: hidden;
}
header {
    width: 100%;
    height: 150px;
    background: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer.h1{
    order: 1;
}
footer.p{
    order: 2;
    text-align: center;
    border: 1px solid black;
}

.container{
    column-gap: 0px;
    margin-left: 100px;
    width: 100%;
    height: 150px;
    position: fixed;
    display: grid;
    grid-template-columns: 500px 500px 500px 500px;
}

.box1{
    grid-column:span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: red;
}
.box2{
    grid-column:span 1;
    display: flex;
    flex-direction: column;
    align-items: center;}
.box3{
    grid-column:span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box4{
    grid-column:span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tab{
    margin-left: 100px;
    top: 300px;
    position: absolute;
    
    text-align: center;
    border-collapse: collapse; 
}

th,td{
    height: 60px;
    width: 500px;
}
th:nth-child(1),td:nth-child(1){
    background-color: gray;
    color: white;
}
tr:not(:last-child){
    border-bottom: 1px solid #000;
}

footer{
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
}